apiVersion: v2
name: lakekeeper
description: Helm Chart for Lakekeeper - a rust native Iceberg Rest Catalog
version: 0.8.0
appVersion: 0.10.2
type: application
home: https://github.com/lakekeeper/lakekeeper
icon: https://raw.githubusercontent.com/lakekeeper/lakekeeper/refs/heads/main/site/docs/assets/bear.svg
maintainers:
  - name: Christian
    url: https://github.com/c-thiel
keywords:
  - lakekeeper
  - iceberg
  - catalog
  - rest
  - lakehouse
dependencies:
  - name: openfga
    version: 0.2.44
    repository: https://openfga.github.io/helm-charts
    condition: internalOpenFGA
    alias: openfga
