apiVersion: v2
name: lakekeeper
description: Helm Chart for Lakekeeper - a rust native Iceberg Rest Catalog
version: 0.7.1
appVersion: 0.9.3
type: application
home: https://github.com/lakekeeper/lakekeeper
icon: https://raw.githubusercontent.com/lakekeeper/lakekeeper/refs/heads/main/site/docs/assets/bear.svg
maintainers:
  - name: Christian
    url: https://github.com/c-thiel
keywords:
  - lakekeeper
  - iceberg
  - catalog
  - rest
  - lakehouse
dependencies:
  - name: postgresql
    version: 16.7.26
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.enabled
  - name: openfga
    version: 0.2.35
    repository: https://openfga.github.io/helm-charts
    condition: internalOpenFGA
    alias: openfga
